<%- include('header') %>

<form method="get">
    <input type="text" name="userName" id="userName">
    <input type="text" name="password" id="password">
    <input type="button" value="登录" id="btn">
</form>

<script src="js/jquery.js"></script>
<script src="js/ajaxSignin.js"></script>

<%- include('footer') %>